<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>647493797055-nvfnp19gtsfu58qbkne18jntu5pgd8po.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.647493797055-nvfnp19gtsfu58qbkne18jntu5pgd8po</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>647493797055-d7qqf1v2f7a0f6bqp2scqu2rpljlshqr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDdMd6MfUD2b8nskExmJgrLv8sK6sIafEQ</string>
	<key>GCM_SENDER_ID</key>
	<string>647493797055</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alefcsm.gasCalculator</string>
	<key>PROJECT_ID</key>
	<string>gas-calculator-59e0c</string>
	<key>STORAGE_BUCKET</key>
	<string>gas-calculator-59e0c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:647493797055:ios:204feec6f4debbcad8320a</string>
</dict>
</plist>